gmni-red {
  color: red;
  font-family: monospace;
}

gmni-red-hdr {
  color: red;
  font-weight: bold;
  font-family: monospace;
}

gmni-green {
  color: green;
  font-family: monospace;
}

gmni-green-hdr {
  color: green;
  font-weight: bold;
  font-family: monospace;
}

gmni-blue {
  color: blue;
  font-family: monospace;
}

gmni-blue-hdr {
  color: blue;
  font-weight: bold;
  font-family: monospace;
}

gmni-nclr {
  font-family: monospace;
}

gmni-nclr-hdr {
  font-weight: bold;
  font-family: monospace;
}
